.gradle
/build
/.idea
/.kotlin
/captures
.externalNativeBuild
.cxx
local.properties
*.iml
.DS_Store
*.log
*.apk
*.aab
/app/build
/app/src/test
/app/src/androidTest
gradle-app.setting
.idea/modules.xml
.idea/workspace.xml
.idea/libraries
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/caches
.vscode
*.keystore
debug.keystore
docs/
release/